@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,600,700,300);
/*
	Project name: openFED
	Project url: 
	Version: 0.1
	Author: Blue4You
	Author URI: http://www.blue4you.be/
	
*/
/* Taille de texte globale : http://www.alsacreations.com/article/lire/563-gerer-la-taille-du-texte-avec-les-em.html */
html {font-size: 100%;} /* S'adapte par rapport à la configuration du navigateur */
body {font: normal .8125em/1.5732em 'Open Sans', sans-serif;color: #32312e;}/* Correspond à environ 13px si le navigateur est règlé sur police moyenne*/

/*  global background for the installation preset */
body								{ 
	background: #fafafa;
}
html								{ 
 	background-color: #ffffff;
}
	
/* General Styling  */

a,
a:visited,
a:link								{
	color:#ff7300;
}
a:hover, a:focus					{
	color:#c72f00;
}

label								{
	display:block;
	padding: 5px 0;
}
.label-inline						{
	display:inline;
}
h1									{
	font-size: 3em;
}
h1															{
    font-weight: 300;
    margin: 0 0 10px 0;
    color: #ff7300;
}
h2															{
    font-weight: 300;
    margin: 0 0 10px 0;
    color: #ff7300;
}
h3															{
    font-weight: 600;
    margin: 0 0 10px 0;
    color: #32324B;
}
h4															{
    font-weight: 300;
    margin: 0 0 10px 0;
    color: #32323e;
}
h5															{
    font-weight: 300;
    margin: 0 0 10px 0;
    color: #ff7300;
}
h6															{
    font-weight: 600;
    margin: 0 0 10px 0;
    color: #ff7300;
}

blockquote													{
    background: url(../images/bg-citation.png) no-repeat 0 0;

}

/*		Additional classes to fields in the display suite and ckEditor		*/

.float-left													{
	float:left;
}
.float-right												{
	float:rigt;
}
.align-left													{
	text-align:left;
}
.align-right												{
	text-align:right;
}
.align-center												{
	text-align:center;
}
.clear-both													{
	clear:both;
}
.clear-block 												{
  *zoom: 1;
  clear:both;
}
.clear-block:before,
.clear-block:after 											{
  display: table;
  content: " ";
  line-height: 0;
  clear: both;
}
.headline													{
	font-size: 1.1em;
	font-weight: 600;
	margin: 10px 0;
}
.highlight light											{
	
}
.highlight medium											{
	
}
.highlight heavy											{
	
}
.more a														{
	color: #32312e; 
	text-decoration: none;
	position: relative;
}
.more a:hover												{
	text-decoration: underline;
}
.more a:after												{
	content: "...";
	color: #fff;
	background: #ff7300;
	margin-left: 5px;
	text-decoration: none;
	position: absolute;
	height: 9px;
	line-height: 1px;
	top: 4px;
	padding: 0 1px;
	font-weight: 300;
	right: -15px;
}
.more a:after:hover											{
	text-decoration:none;
}
/*
 		HEADER GENERAL
*/

header														{
	border-bottom: 1px solid #C65900;
}
.logo														{
    margin-top: -120px;
    padding-bottom: 20px;
}
.logo a,
.logo a:focus,
.logo a:active,
.logo a:hover,
.logo img,
.logo img:focus,
.logo img:active,
.logo img:hover												{
	text-shadow: none!important;
	box-shadow: none!important;
	border: none!important;
}
/* 			
		TOOLS REGION
*/

.ofed-switcher 												{
background: #FF8D1B;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
-webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25);
-moz-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25);
box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25);
}

#tools														{	
	margin-top: 10px;
	min-height: 170px;
}

#tools #block-locale-language								{
    position: absolute;
    top: 0;
	z-index:1000;
}
#tools #block-locale-language.contextual-links-processed	{
}
#tools #block-locale-language li							{
	float:left;
	padding-top: 8px;
}

#tools #block-locale-language .language-link				{
    font-size: 0.80em;
    display: block;
    padding: 1px 4px;
    background: #B0AEA4;
    color: white;
    margin: 0 5px;
    text-decoration: none;
    text-transform: uppercase;
}
#tools #block-locale-language .language-link:first-child	{
    margin: 0 5px 0 0;
}
#tools #block-locale-language a.language-link.active		{
	background:#ff7300;
}
#tools .text-resize, 
#tools .text-resize ul li, 
#tools #block-print-print-links		{
    float: right;
    padding-top: 8px;
}
#tools .search-form					{
    position: absolute;
    right: 0;
    top: 74px;
}
#tools .form-item-search-block-form	{
	float:left;
}
#tools .text-resize					{
    margin-left: 5px;

}
#tools .text-resize ul li			{
    padding: 5px 0px;
    margin: 0 5px;
}
#tools .text-resize ul li a			{
    background: #b0aea4;
    color: #fff;
    padding: 2px 4px;
    font-size: 0.85em;
    text-decoration: none;
}
#tools #block-print-print-links		{
    padding: 20px 0 0 10px;
}

.ofed-switcher .ofed-switcher-links ul li a:hover 	{
	text-decoration:underline;
}

/* Login Form */

#user-login-form ul li				{
	line-height:30px;
}

.toboggan-unified #login-message,
.toboggan-unified #login-links		{
	font-size:1em;
	padding: 10px 0 5px 0;
	line-height: 1.75em;
	text-align:left;
}

.toboggan-unified #login-message	{
  background-position: 8px 8px; /* LTR */
  background-repeat: no-repeat;
  border: 1px solid;
  margin: 10px 0 20px 0;
  padding: 10px 10px 10px 50px; /* LTR */
  background-image: url(../icons/message-24-warning.png);
  background-color: #fffce5;
  border-color: #ed5;
  color: #840;
}
.toboggan-unified #login-links											{
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
}
.toboggan-unified #login-links a										{
  border-width:1px!important;
  border-bottom-color: #a2a2a2!important;
  border-color: #f89406 #f89406 #ad6704!important;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)!important;
  background-color: #faa732;
  background-image: none;
  margin: 0 10px 0 0;
  color:#fff;
  text-decoration:none;
}
.toboggan-unified #login-links a.lt-active								{
	color: #333;
	background: #fcfcfc none;
	/* border: none; */
	text-shadow: none;
	box-shadow: none;
	font-weight: bold;
}
.toboggan-unified #login-links a.lt-active:hover						{
	background-color: #f0f0f0;
}
.toboggan-unified #login-links a:hover									{
  background-color: #f89406 ;
}

#user-login-form														{
	padding: 0 12px 20px 12px;
}
.page-user #login-form													{
	margin: auto;
    text-align: left;
}
.page-user form#user-login												{
}
.page-user form#user-login	div											{
	text-align: left;
}
.toboggan-unified #login-message 										{
    margin-right: 30px;
}
.page-user form#user-login .description									{	
	font-size:0.85em;
}
.page-user form#user-login .login-forgot								{
	padding: 12px 0;
}
/* FORMS * 
 ------------------------------------------------------------------------------------------------------------------------------------------
*       */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
	border: 1px solid #cccccc;
  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -moz-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;
}

select,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus{
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

input.form-autocomplete,
input.form-text,
input.form-file,
textarea.form-textarea,
select.form-select 														{ 
	padding: 6px ;
	-webkit-border-radius: 4px ;
	-moz-border-radius: 4px ;
	border-radius: 4px ;
}


/* It's a long one because it's god damn looking good button */
input.form-submit, a.button,
.lexicon-admin-links a												{
  display: inline-block ;
  *display: inline ;
  /* IE7 inline-block hack */
  *zoom: 1 ;
  padding: 6px 14px ;
  margin-bottom: 0 ;
  font-size: 14px ;
  text-align: center ;
  vertical-align: middle ;
  text-decoration:none;
  cursor: pointer ;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732 ;
  background-image: none;
  background-image: -moz-linear-gradient(top, #ff7300, #F89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff7300), to(#f89406));
  background-image: -webkit-linear-gradient(top, #ff7300, #f89406) ;
  background-image: -o-linear-gradient(top, #ff7300, #f89406) ;
  background-image: linear-gradient(to bottom, #ff7300, #f89406) ;
  background-repeat: repeat-x ;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7300', endColorstr='#f89406', GradientType=0) ;
  border: 1px solid #bbbbbb ;
  *border: 0 ;
  border-bottom-color: #a2a2a2 ;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) ;
  *background-color: #f89406 ;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) ;
  
  -webkit-border-radius: 4px ;
  -moz-border-radius: 4px ;
  border-radius: 4px ;
  *margin-left: .3em ;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05) ;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05) ;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05) ;
}

input.form-submit:first-child , a.button:first-child 					{
  *margin-left: 0 ;
}
input.form-submit:active, a.button:active 								{
  background-color: #e6e6e6 ;
  background-color: #d9d9d9 \9 ;
  background-image: none ;
  outline: 0 ;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05) ;
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05) ;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05) ;
}

input.form-submit:active, a.button:active{
  background-color: #c67605 \9 ;
}

input.form-submit:hover , a.button:hover,
.lexicon-admin-links a:hover			 								{
  text-decoration: none ;
  color: #ffffff ;	
  background-color: #f89406 ;
  *background-color: #df8505 ;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px ;
  -webkit-transition: background-position 0.1s linear ;
  -moz-transition: background-position 0.1s linear ;
  -o-transition: background-position 0.1s linear ;
  transition: background-position 0.1s linear ;
}
input.form-submit:focus , a.button:focus 								{
  outline: thin dotted #333 ;		
  outline: 5px auto -webkit-focus-ring-color ;
  outline-offset: -2px ;
}
input.form-submit:hover, a.button:hover,
input.form-submit:active, a.button:active,
input.form-submit[disabled], a.button[disabled],
.lexicon-admin-links a:active											{
  color: #ffffff ;	
  background-color: #f89406 ;
  *background-color: #df8505 ;
}

input.form-submit[disabled], a.button[disabled] 						{
  cursor: default ;
  background-color: #e6e6e6 ;
  background-image: none ;
  opacity: 0.65 ;
  filter: alpha(opacity=65) ;
  -webkit-box-shadow: none ;
  -moz-box-shadow: none ;
  box-shadow: none ;
}

fieldset#edit-update-notifications 										{
  display: none;
}

.form-item, .form-actions 												{
	margin:0;
}

#maincontent ul.links.inline li											{
	background:0;
	padding:0;
	display: block;
	zoom:1;
}
#maincontent ul.links.inline li.print_html:after,
#maincontent ul.links.inline li.print_html:before						{
  display: table;
  content: " ";
  line-height: 0;
  clear: both;
}
#block-node-recent .content,
#block-user-new .content,
#block-user-online .content,
.block-logintoboggan .content											 {
	padding: 0 12px 12px 12px;
}
#block-node-recent .content table td									 {
	padding: 8px 0;
}
/*
		HEADER REGION
*/

#header																	{
	background-image: -moz-linear-gradient(bottom, #ffffff, #f2f2f2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#ffffff));
	background-image: -webkit-linear-gradient(bottom, #ffffff, #f2f2f2);
  	background-image: -o-linear-gradient(bottom, #ffffff, #f2f2f2);
  	background-image: linear-gradient(to top, #ffffff, #f2f2f2);
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#ffffff', GradientType=0);
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
#header .container														{
	padding-bottom: 20px;
	background: url(../images/bg-separator-bottom.png) top center no-repeat;
}
/*
		NAVIGATION REGION
*/

#navigation								{
	background: #FF8D1B url('../images/gradient-menu.png') repeat-x 0 0;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	margin-bottom: 20px;
}

#navigation .container > ul 			{ 
	position: relative; 
	min-height: 44px;
}
#navigation .container > ul:after		{
	position: absolute;
	content: " ";
	width:100%;
	height: 10px;
	background: url(../images/bg-separator-bottom.png) bottom center no-repeat;
	bottom: -8px;
	z-index: 10;
}
#navigation	ul li						{
	float:left;
	position: relative;
	display: block;
}

#navigation	ul li li:hover				{
	border-bottom: none;
}
#navigation	ul li a						{
	font-size: 1.15em;
	color: #ffffff;
	font-weight: 600;
	text-shadow: 1px 1px 0px rgba(212, 66, 6, 0.75);
	line-height: 33px;
	display: block;
	padding: 5px 10px;
	text-decoration: none;
	margin: -1px 0 0 0;
	border: 1px solid transparent;
}
#navigation	ul li a:hover,
#navigation	ul li a.active				{
	background: #F4F4F4;
	/*border-bottom: 1px solid rgba(0,0,0, 0.10);*/
}
.ie7 #navigation ul li a,
.ie8 #navigation ul li a				{
	font-weight:normal;
}
#navigation	ul li	a:hover,
#navigation	ul li a.active				{
	text-decoration: none;
	color: #ff7300;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
}	
#navigation	ul li.expanded				{
	padding-right: 30px;
}
#navigation	ul li.expanded:hover		{
	background: #F4F4F4;
}

#navigation	ul li.expanded:after 		{
	width: 0;
	height: 0;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 6px solid white;
	position: absolute;
	content: " ";
	top: 19px;
	right: 12px;
	box-shadow: 0 -1px 0 rgba(212, 66, 6, 0.75);
}
#navigation	ul li.expanded:hover:after,
#navigation	ul li.active-trail.expanded:after 	{
	border-top: 6px solid #ff7300;
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.75);
	top: 21px;
}

/* SUBNAVIGATION - second level */
#navigation ul ul 								{ 
	visibility: hidden; 
	position: absolute; 
	top: 100%; 
	left: 0; 
	z-index: 9000;
	width: 195px;
	display:none;
}
#navigation ul ul ul 							{ 
	top: 0;
	left: 100%;
	margin: -1px 0 0 2px!important;
}
#navigation .container ul > li:hover > ul		{ 
	display:block;
}

#navigation .container > ul > li:hover			{ 
	position: relative;
	background: #f4f4f4;
	border: 1px solid white;
	margin: -1px 0 0px 0;
	/*padding: 5px 30px 5px 0;*/
	z-index: 10000;
	box-shadow: 0 0px 3px #999;
	display:block;
}
#navigation .container ul > li:hover a		{
	color: #FF7300;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.75);
}
#navigation .container ul li:hover ul li a		{
	text-transform: capitalize;
	color:#32312e;
	font-size:1em;
	line-height: 1.5em;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.75);
}
#navigation  ul li:hover ul li a:hover			{
	color:#ff7300;
}

#navigation  ul ul li 							{ 
	float: none; 
	padding: 5px 0 5px 5px;
	margin: 0;
}
#navigation  ul ul li:first-child				{
	padding-top:15px;
} 
#navigation  ul ul li.last						{
	padding-bottom:10px;
}

#navigation  ul ul li a:after					{
	content: " ";
	position:absolute;
	left: 5px;
	top: 27px;
	width: 4px; 
	height: 4px;
	background: #32312E;
}
#navigation ul ul li:first-child a:after		{
	top: 23px;
}
#navigation  ul ul li a:hover:after				{
	background:#ff7300;
}
#navigation  ul li:hover > ul					{ 
	visibility: visible;
	box-shadow: 0 1px 2px #999;
	padding: 0 0 0 11px;
	margin: 0px 0 0 -1px;
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	background: #f4f4f4;
}
/* SUBNAVIGATION - third level */
#navigation	ul li.expanded li.expanded					{
	padding-right: 30px;
}
#navigation	ul li.expanded li.expanded:after			{
	width: 0;
	height: 0;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-left: 6px solid #32312e;
	position: absolute;
	content: " ";
	top: 14px;
	right: 8px;
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.75);
	background: transparent;
	border-right: none;
	left: auto;
}
#navigation	ul li.expanded li.expanded:hover:after 		{
	border-left: 6px solid #ff7300;
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.75);
	top: 14px;
}
#navigation	ul li.expanded li.expanded:first-child:after{
	top: 22px;
}

/*
		TOP REGION
*/

#top													{
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	background:#f2f2f2;
	background-image: -moz-linear-gradient(top, #fcfcfc, #f2f2f2);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), to(#f2f2f2));
 	background-image: -webkit-linear-gradient(top, #fcfcfc, #f2f2f2);
  	background-image: -o-linear-gradient(top, #fcfcfc, #f2f2f2);
  	background-image: linear-gradient(to bottom, #fcfcfc, #f2f2f2);
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f2f2f2', GradientType=0);
	margin: -20px 0 25px 0;
	position: relative;
	padding: 10px 0 20px 0;

}

#top:after											{
	background: url(../images/bg-separator-bottom.png) center bottom no-repeat;
	position: absolute;
	content: " ";
	width:100%;
	height: 10px;
	bottom: -9px;
}

/* 
 		SIDEBAR LEFT : Navigation 
*/

#aside-left														{
  margin-left: 0;
}

.subnavigation 													{
    background: #FF8C2D;
    color: white;
	font-weight:300;
	text-transform:capitalize;
    border-top: 1px solid #ff6b11;
    position: relative;
    margin-bottom: 20px;
}
.subnavigation:after											{
	content: " ";
	position:absolute;
	bottom: -11px;
	width: 100%; 
	height: 11px;
	background:  url(../images/bg-shadow-bottom-menu.png) no-repeat 0 0;
}
.subnavigation h2												{
	font-weight:300;
	padding-left:12px;
	font-size: 1.75em;
	line-height: 1em;
	padding-top: 10px;
	color: #fff;
}
.subnavigation nav ul li										{
}
.subnavigation nav ul li a										{
	color:#fff;
	font-size: 1.15em;
	padding: 0 12px;
}
.subnavigation nav ul li a										{
	line-height: 2.5em;
	display: block;
	position:relative;
	text-decoration: none;
}
.subnavigation nav ul li.active-trail							{
	margin-top: -2px;
	z-index: 8000;
	position: relative;
	background: #f5f5f5;
	border: 1px solid #e0e0e0;
}
.subnavigation nav ul li.active-trail a							{
	color: #32312E;
}
.subnavigation nav ul li a.active								{
	color: #ff7300;
	font-weight: 600;
	position:relative;
}
.subnavigation nav ul li.active-trail.expanded > a::after					{
	width: 0;   
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 8px solid #32312E;
	border-bottom: none;
	content: " ";
	position:absolute;
	right: 11px;
	top: 13px;
	background: transparent;
}
.subnavigation nav ul li.active-trail.active > a:after			{
	border-top: 8px solid #ff7300;
}

/** SECOND LEVEL **/
.subnavigation nav ul li ul										{
	display: none;
}
.subnavigation nav ul li.active-trail ul						{
	display: block;
}
.subnavigation nav ul li ul li									{
	padding: 0 0 0 12px;
}
.subnavigation nav ul li.active-trail ul li						{
	border: none;
}
.subnavigation nav ul li ul li a								{
	font-size: 1em;
}
.subnavigation nav ul li ul li ul li							{
	padding: 0 0 0 6px;
}

.subnavigation nav ul li.active ul li a							{
	padding-left: 15px;
	padding-right: 0;
	position:relative;
}
.subnavigation nav ul li.active-trail ul li a:hover, 
.subnavigation nav ul li ul li a.active							{
	color: #ff7300;
}
.subnavigation nav ul li.active-trail ul li a:after				{
	content: " ";
	position:absolute;
	left: 1px;
	top: 15px;
	width: 0;
	height: 0;
	border-top: 3px solid transparent;
	border-left: 6px solid #32312E;
	border-right: 0;
	border-bottom: 3px solid transparent;
	right: auto;
}
.subnavigation nav ul li.active-trail ul li a.active::after, 
.subnavigation nav ul li.active-trail ul li a:hover::after			{
	content: " ";
	position:absolute;
	left: 1px;
	top: 15px;	
	right: auto;
	width: 0;
	height: 0;
	border-top: 3px solid transparent;
	border-right: 0;
	border-bottom: 3px solid transparent;
	border-left: 6px solid #ff7300;
}

/*		BREADCRUMB			*/


/* breadcrumb */
.easy-breadcrumb											{ width:940px; height:23px; padding:0 0 20px 0; margin:0 auto;}
.easy-breadcrumb .separator									{ color:#FF7300; margin-right:10px;}
.easy-breadcrumb .easy-breadcrumb_segment-wrapper			{ text-transform:uppercase;}
.easy-breadcrumb .easy-breadcrumb_segment-wrapper a,
.easy-breadcrumb_segment									{ margin:0 10px 0 0; text-transform:uppercase; text-decoration:none;}
.separator-black											{ color:#32312E; margin-right:10px;} 
.easy-breadcrumb .easy-breadcrumb_segment-separator 		{ margin:0 10px 0 0; color:#FF7300;}

/* 
		MAIN CONTENT 
*/

#main														{
	padding-bottom: 20px;
}

/*		TABS				*/

#maincontent .tabs ul li,
#maincontent div.messages ul li 							{
	background: none;
	padding-left:0;
}

/*		CONTENT REGION 		*/

#maincontent table											{
    border: 1px solid #32312e;
}
#maincontent table thead									{
	background:#32312e;
	color: #fff;
}
#maincontent tr.even,
#maincontent tr.odd {
	border: none;
}
#maincontent tr.odd											{
	background-color: #eee;
}
#maincontent tr.even										{
	background-color: #fff;
}

#maincontent ul												{
	margin: 0 0 15px 0;
}
#maincontent ul ul,
#maincontent ol ul,
#maincontent ul ul ul,
#maincontent ol ul ul,
#maincontent ol ol ul,
#maincontent ul ul ul ul,
#maincontent ol ul ul ul,
#maincontent ol ol ul ul,
#maincontent ol ol ol ul									{
    margin: 5px 0;
}
#maincontent ul li											{
    padding: 10px 0 0 25px;
    background: url(../images/bullet-firstlevel.png) no-repeat 0 12px;
}
#maincontent ul li ul > li,
#maincontent ol li ul > li									{
	background: url(../images/bullet-secondlevel.png) no-repeat 0 12px;
	margin: 0;
	padding: 10px 0 0 25px;
}
#maincontent ul li ul li ul li,
#maincontent ol li ul li ul li,
#maincontent ol li ol li ul li								{
	background: url(../images/bullet-thirdlevel.png) no-repeat 0 12px;
}
#maincontent ol li ul li:after,
#maincontent ul li ol > li 									{
	background : transparent
}
#maincontent ol												{
	color:#ff7300;
    list-style-type: decimal;
    margin: 0 0 15px 0;
}
#maincontent ol ol,
#maincontent ol ol ol,
#maincontent ol ol ol ol									{
    margin: 5px 0;
}
#maincontent ol > li										{
    padding: 10px 0 0 0px;
    margin: 0 0 0 25px;
	position:relative;
	color:#32312e;
	counter-increment: firstlevel;/* Liste à puces ordonnées : http://www.alsacreations.com/article/lire/1210-donnez-du-style-a-vos-listes.html */
}
#maincontent ol > li:after 									{
	display: inline-block;
	content: counter(firstlevel) " ";
	padding: 0px 5px;
	color: white;
	margin: 0 0 0 0;
	background: #ff7300;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position:absolute;
	left: -24px;
	font-size: 0.82em;
	line-height: 1.5em;
	zoom: 1;
	top: 11px;
}
#maincontent ol li ol > li									{
	counter-increment: secondlevel;/* Liste à puces ordonnées : http://www.alsacreations.com/article/lire/1210-donnez-du-style-a-vos-listes.html */
}
#maincontent ol li ol > li:after 							{
	content: counter(secondlevel) " ";
	background: none repeat scroll 0 0 #FF7300;
}
#maincontent ol li ol li ol > li							{
	counter-increment: thirdlevel;/* Liste à puces ordonnées : http://www.alsacreations.com/article/lire/1210-donnez-du-style-a-vos-listes.html */
}
#maincontent ol li ol li ol > li:after 						{
	content: counter(thirdlevel) " ";
	background: none repeat scroll 0 0 #FF7300;
}
#maincontent ol li ol li ol li ol > li						{
	counter-increment: fourthlevel;/* Liste à puces ordonnées : http://www.alsacreations.com/article/lire/1210-donnez-du-style-a-vos-listes.html */
}
#maincontent ol li ol li ol li ol > li:after 				{
	content: counter(fourthlevel) " ";
}

#maincontent ul li.views-row								{
	background: none;
	padding: 0 0 10px 0;
}

/* 		Drupal Exception - disable table styling when table.views-view-grid is generated */

#maincontent table.views-view-grid							{
	border:none;
}
#maincontent table.views-view-grid thead					{
	background:none;
	color: #32312e;
}
#maincontent table.views-view-grid tr.odd					{
	background-color: transparent;
}
#maincontent table.views-view-grid tr.even					{
	background-color: transparent;
}
#maincontent table.views-view-grid td						{
	padding:0;
	line-height: inherit;
}

/*		END drupal Exception 		*/

/* 
 		SIDEBARS 
*/

#aside-right .block,
#aside-left .block											{
	background: #f4f4f3;
    border-top: 3px solid #ff7300;
}
#aside-right h2, #aside-left h2								{
    font-weight: 300;
    padding: 10px 12px 0 12px;
    margin: 0 0 5px 0;
    color: #ff7300;
}

/*
		GENERAL PAGER 
*/

ul.pager													{
    margin: 0 auto;
	min-height: 25px;
}
#maincontent ul.pager li,
ul.pager li 												{
    padding: 2px 4px!important;
    background: none!important;
    float: left;
    margin: 0 2px;
}
ul.pager li a												{
    background: #B0AEA4;  
	color: white;  
	padding: 2px 4px;  
	font-size: 0.85em;  
	text-decoration: none;
}
ul.pager li a:hover											{
	background: #ff7300;
}
ul.pager li.pager-item										{

}
#maincontent ul.pager li.pager-current,
ul.pager li.pager-current									{
	background: #ff7300!important;
	color: white;
	padding: 2px 4px!important;
	font-size: 1em;
	text-decoration: none;
	font-weight: 600;
}
ul.pager li.pager-previous									{

}
ul.pager li.pager-next										{

}

/* 
		BOTTOM REGION
*/

#bottom														{
	background:#32312e url(../images/noise.png) repeat 0 0;
	color: #fff;
	border-bottom: 1px solid white;
	padding: 10px 0;
}
#bottom	h3,
#bottom	h4,
#bottom	.more a												{
	color:#fff;
}

/*
		FOOTER REGION
*/

footer															{
	background-image: -moz-linear-gradient(bottom, #fcfcfc, #f2f2f2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#fcfcfc));
	background-image: -webkit-linear-gradient(bottom, #fcfcfc, #f2f2f2);
  	background-image: -o-linear-gradient(bottom, #fcfcfc, #f2f2f2);
  	background-image: linear-gradient(to top, #fcfcfc, #f2f2f2);
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#fcfcfc', GradientType=0);
	font-size: 0.85em;
	padding: 12px;
}
.admin-menu footer												{
	margin-bottom:20px;
}


/*
		GENERIC FIELDS
*/



/*		Generic Fields : Date		*/

.date-display-single											{
	font-style: italic;
	font-size: 0.85em;
	padding-right:5px;
}

/*		Generic Fields : Author	*/

.field-name-field-ofed-press-author,
.field-name-field-ofed-new-author,
.field-name-field-ofed-download-author,
.field-name-field-ofed-press-source,
.field-name-field-ofed-new-source,
.field-name-field-ofed-download-source,
.node-author													{
	font-size: 0.85em;
	color: #B0AEA4;
}

.field-name-field-ofed-new-source,
.field-name-field-ofed-download-source,
.field-name-field-ofed-press-source								{
	margin-bottom:10px;
}
/*		Generic Fields : Thumb	*/

.field-name-field-ofed-new-thumb,
.field-name-field-ofed-download-thumb,
.field-name-field-ofed-press-thumb,
.field-name-field-ofed-page-thumb								{
	padding: 5px 10px 5px 0;
}
.field-name-field-ofed-new-thumb a,
.field-name-field-ofed-download-thumb,
.field-name-field-ofed-press-thumb,
.field-name-field-ofed-page-thumb								{
	color: white; /*  Bug sous chrome  - le border de l'image est orange 	*/
}
.field-name-field-ofed-new-thumb img,
.field-name-field-ofed-download-thumb img,
.field-name-field-ofed-press-thumb img,
.field-name-field-ofed-page-thumb img							{
	border: 3px solid white;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}
.page-list .field-name-field-ofed-photog-images					{
	margin-top: 10px;
}
.field-name-field-ofed-page-docs,
.field-name-field-ofed-new-docs,
.field-name-field-ofed-new-links,
.field-name-field-ofed-press-docs,
.field-name-field-ofed-press-contact-person,
.field-name-field-ofed-press-contact,
.field-name-field-ofed-press-links								{
	border: 1px solid #E1DED7;
	background: #F4F4F3;
	padding: 10px 10px 10px 10px;
	margin-bottom:10px;
}

.field-name-field-ofed-page-docs,
.field-name-field-ofed-press-docs,
.field-name-field-ofed-new-docs									{
	padding-bottom:0px;
}
.field-name-field-ofed-new-links a,
.field-name-field-ofed-press-links a,
.field-name-field-ofed-download-links a							{
	display: block;	
	padding: 5px 0;
}
.field-name-field-ofed-press-docs .view-mode-references 		{
	padding: 0;
}

.field-name-field-ofed-page-docs .label-above,
.field-name-field-ofed-new-docs .label-above,
.field-name-field-ofed-new-links .label-above,
.field-name-field-ofed-press-docs .label-above,
.field-name-field-ofed-press-contact .label-above,
.field-name-field-ofed-press-links .label-above					{
	font-weight: 600;
	font-size: 1.1em;
	padding-bottom: 10px;
	display:block;
}
.field-name-field-ofed-page-docs .view-mode-references	a		{
    line-height: 25px;
}

/*		Generic Fields : Downloads	*/
.field-name-title												{
	padding-right: 8px;
}
.field-name-file-type,
.field-name-file-size											{
	font-size: 0.85em;
	text-transform: uppercase;
	color: #b0aea4;
	padding: 0 5px 0 0;
	line-height: 25px;
	margin-bottom: 5px;
}

.field-name-file-size:before									{
	content: "- "; 
}
.field-name-file-type > span									{
	padding: 0 0 0 22px;
	display: inline-block;
}	
.file-type-pdf									{
	background: url(../icons/application-pdf.png) no-repeat 0 1px;
}
.file-type-doc,
.file-type-docx,
.file-type-odt									{
	background: url(../icons/x-office-document.png) no-repeat 0 1px;
}
.file-type-xls, 
.file-type-xlsx,
.file-type-ods									{
	background: url(../icons/x-office-spreadsheet.png) no-repeat 0 0;
}
.file-type-ppt, 
.file-type-pptx,
.file-type-pps,
.file-type-ppsx,	
.file-type-odp									{
	background: url(../icons/x-office-presentation.png) no-repeat 0 0;
}
.file-type-jpg, 
.file-type-jpeg,
.file-type-png, 
.file-type-gif									{
	background: url(../icons/image-x-generic.png) no-repeat 0 0;
}
.file-type-rar									{
	background: url(../icons/icon-rar-mini.png) no-repeat 0 1px;
}

.file-type-zip									{
	background: url(../icons/icon-zip-mini.png) no-repeat 0 1px;
}


.more-link {
    text-align: right;
	padding: 12px;
}

/*
		DISPLAY MODE of Drupal
*/

/*		view-mode-full		*/

.view-mode-full	.field-name-field-ofed-new-update,
.view-mode-full	.field-name-field-ofed-new-author,
.view-mode-full	.field-name-field-ofed-download-update,
.view-mode-full	.field-name-field-ofed-download-author		{
    margin-bottom: 5px;
}

/*		Teaser	+ block-list + block element	*/

.view-mode-teaser,
.block-list,
.view-mode-block_element,
.view-mode-block_list										{
	padding: 0 12px 12px 12px;
}
.view-ofed-faq .view-mode-teaser							{
	padding:12px 0;
	border-bottom: 1px solid #E0E0E0;
}
.view-ofed-faq .view-mode-teaser:after						{
	content: " ";
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 100%;
	height: 1px;
	border-bottom: 1px solid white;
}
.block-list	ul li											{
    padding-bottom: 10px;
}
.view-mode-teaser h3, 
.block-list h3, 
.view-mode-block_element h3, 
.view-mode-block_column h3									{
    font-size: 1.5em;
    margin: 0;
    border-top: 1px solid #E1DED7;
    position: relative;
    line-height: 1.5em;
    padding: 10px 0;
}
.view-mode-teaser p, 
.block-list p, 
.view-mode-block_element p, 
.view-mode-block_column p									{
    border-top: 1px solid #E1DED7;
    padding: 5px 0 0 0;
    position: relative;
}
.view-ofed-faq .view-mode-teaser p							{
	border-top: none;
	padding: 10px 0 0 0;
}
.view-ofed-faq .view-mode-teaser p:after					{
	border-top:none;
}
.view-mode-block_column h3									{
	border-top: none;
}
.view-mode-teaser h3:after,
.block-list	h3:after,
.view-mode-block_element h3:after,
.view-mode-teaser p:after,
.block-list	p:after,
.view-mode-block_element p:after							{
	content: " ";
	position:absolute;
	left: 0;
	top: 0px;
	width: 100%; 
	height: 1px;
    border-top: 1px solid #fff;
}
.view-mode-block_element .field-name-field-ofed-photog-images,
.block-list .field-name-field-ofed-photog-images,
.block-info	.field-name-field-ofed-photog-images,
.view-mode-teaser .field-name-field-ofed-photog-images,
.view-mode-block_column	.field-name-field-ofed-photog-images{
	padding: 10px 0;
}

/*		page-list		*/

#maincontent .page-list > ul > li							{
	background: none;
	padding: 10px 0 20px 0;
	border-bottom: 1px solid #E0E0E0;
    position: relative;
}
.page-list	ul li h2										{
    font-size: 1.8em;
	color: #32323E;
    padding: 0;
    margin: 0;
    font-weight: 600;
}
#maincontent .page-list > ul li:after						{
	content: " ";
	position:absolute;
	left: 0;
	bottom: -2px;
	width: 100%; 
	height: 1px;
	border-bottom: 1px solid white;
}

/*		Block Column		*/

.view-display-id-ofed_new_block_column .views-row,
.view-display-id-ofed_download_block_column .views-row,
.view-display-id-ofed_press_block_column .views-row,
.view-display-id-ofed_photogallery_block_column .views-row	{
	float:left;    
	width:33%;
}

.view-mode-block_column										{
	padding: 0 24px 0 0!important;
}
.view-display-id-ofed_photogallery_block_column				{
	zoom: 1;
}
.view-display-id-ofed_photogallery_block_column:before,
.view-display-id-ofed_photogallery_block_column:after,
.view-display-id-ofed_new_block_column:before,
.view-display-id-ofed_new_block_column:after,
.view-display-id-ofed_press_block_column:before,
.view-display-id-ofed_press_block_column:after,
.view-display-id-ofed_download_block_column:before,
.view-display-id-ofed_download_block_column:after,
.view-display-id-ofed_page_block_column:before,
.view-display-id-ofed_page_block_column:after				{
  display: table;
  content: " ";
  line-height: 0;
  clear: both;
}

/*		References 			*/

.view-mode-references 										{
	padding : 0 0 10px 0;
}

.view-mode-references h6									{
    padding-right: 5px;
    line-height: 26px;
}

/*		Item-list			*/

.item-list 													{
    padding: 0;
}
/*		
		DOWNLOAD PAGE : specific element	
*/

.view-mode-full	.field-name-field-ofed-download-file,
.view-mode-full	.field-name-file-url-open,
.view-mode-full	.field-name-url-file-save,
.view-mode-full .field-name-file-url-persistent				{
	padding: 10px;
}
.view-mode-full	.field-name-file-url-open,
.view-mode-full	.field-name-url-file-save,
.view-mode-full .field-name-file-url-persistent				{
    margin-top: -50px;
}
.view-mode-full	.field-name-field-ofed-download-file		{
	font-size: 1.1em;
	min-height: 60px;
	background: #F4F4F3;
	padding: 10px 10px 25px 10px;
}
.field-name-field-ofed-download-file a		{
	text-decoration:none; 
	color: #31302D;	
	line-height: 29px;
	cursor: default;
}
.field-name-file-url-open a,
.field-name-url-file-save a,
.field-name-file-url-persistent	a							{
  display: inline-block;
  *display: inline ;
  /* IE7 inline-block hack */
  *zoom: 1 ;
  padding: 6px 14px 6px 30px;
  margin: 0;
  font-size: 13px ;
  font-weight: 300;
  text-align: center ;
  vertical-align: middle ;
  text-decoration:none;
  cursor: pointer ;
  color: #ffffff;
  background: #ff7300 url(../icons/icon-viewfile.png) no-repeat 5px 7px;
  -webkit-border-radius: 4px ;
  -moz-border-radius: 4px ;
  border-radius: 4px ;
  position: relative;
}
.view-mode-block_element .field-name-file-url-open a,
.view-mode-block_element .field-name-url-file-save a,
.view-mode-block_element .field-name-file-url-persistent a	{
  margin:5px 0;
}

.field-name-url-file-save a									{
	background: #ff7300 url(../icons/icon-savefile.png) no-repeat 5px 7px;
}

.field-name-file-url-persistent a							{
	background: #31302D url(../icons/icon-sharefile.png) no-repeat 5px 7px;
}

.field-name-file-url-persistent{
  position: relative;
  z-index: 10;
}
.field-name-file-url-persistent span.url-file-persistent {
  position: absolute;
  left: -1px;
  bottom: 43px;
  z-index: 11;
  padding: 0 0 10px;
  background: transparent url("../images/bg-url-file-persistent.png") no-repeat scroll 12px bottom;
}
.field-name-file-url-persistent span.url-file-persistent span{
  background: none repeat scroll 0 0 #E0E0E0;
  border-radius: 5px 5px 5px 5px;
  line-height: 12px;
  padding: 7px;
  text-align: right;
  display: block;
}

.field-name-file-url-persistent span.url-file-persistent input.url-file-persistent-input{
  height: 20px;
  line-height: 20px;
  padding: 2px;
  width: 200px;
}
	
/*		
		PHOTO GALLERY		
*/

.view-mode-full .field-slideshow-wrapper					{
	position: relative;
	border: 1px solid #E1DED7;
	background: #F4F4F3;
}
.view-mode-full .field-slideshow							{
	height: 340px!important;
	padding : 0;
	margin:auto;
}
/*.two-sidebars .view-mode-full .field-slideshow				{
	left:0;
}
.one-sidebar .view-mode-full .field-slideshow				{
	left:15%;
}
.no-sidebars .view-mode-full .field-slideshow				{
	left:25%;
}*/
.view-mode-full .field-slideshow-slide						{
	padding: 20px 0;
}
.field-slideshow-caption									{
    background: rgba(0, 152, 178, 0.65) url(../images/bg-caption.png) repeat-x left top;
    padding: 5px 10px;
    margin-top: -30px;
    z-index: 10000;
    position: relative;
    color: #fff;
}

#maincontent ul.field-slideshow-pager li					{
	background: none;
	padding: 0 2px 0 0;
}

/* 		PAGER  de photo-gallery 		*/

.view-mode-teaser .field-slideshow-controls,
.block-list .field-slideshow-controls,
.view-mode-block_element .field-slideshow-controls,
.view-mode-block_column .field-slideshow-controls,
.page-list	.field-slideshow-controls						{
	position:relative;
}

.view-mode-teaser .field-slideshow-controls a,
.block-list .field-slideshow-controls a,
.view-mode-block_element .field-slideshow-controls a,
.view-mode-block_column .field-slideshow-controls a,
.view-mode-block_list .field-slideshow-controls a,
.page-list	.field-slideshow-controls a						{
	display:inline-block;
	width: 29px;
	height: 19px;
	position:absolute;
	top: 10px;
	z-index: 9000;
	font-size:0;
	line-height:0;
	text-shadow:0;
}

.field-slideshow-controls .prev								{
	background: url(../images/arrow-carrousel-left.png) no-repeat 3px 0px;
}
.field-slideshow-controls .prev:hover						{
	background: url(../images/arrow-carrousel-left-active.png) no-repeat 3px 0px;
}
.field-slideshow-controls .next								{
	right: 0;
	background: url(../images/arrow-carrousel-right.png) no-repeat 5px 0px;
}
.field-slideshow-controls .next:hover						{
	background: url(../images/arrow-carrousel-right-active.png) no-repeat 5px 0px;
}

.view-ofed-photogallery .more-link,
.field-name-node-link										{
	font-size: 0.85em;
	padding-top: 5px;
}
.view-ofed-photogallery .more-link							{
	padding: 0 12px 12px 0;
	text-align: right;
}
.view-ofed-photogallery .field-name-node-link				{
	text-align:center;
	padding: 4px 25px 0 0;
}
.view-ofed-photogallery .page-list .field-name-node-link	{
	padding-top: 9px;
}

/*		PAGER de photo-gallery en full node 		*/

.view-mode-full .field-slideshow-controls					{
	width: 460px;
	height: 190px;
	margin: -190px auto 0 auto;
}

.view-mode-full .field-slideshow-controls a					{
	/*text-indent:-2000em; Masquer le texte et le remplancer par des icones de flèches*/
	display: inline-block;
	width: 26px;
	height: 48px;
	z-index: 8000;
	font-size:0;
	line-height:0;
	text-shadow:0;	
}
.view-mode-full .field-slideshow-controls .prev				{
	background: url(../images/arrow-slideshow-left.png) no-repeat 0px 0px;
}
.view-mode-full .field-slideshow-controls .prev:hover		{
	background: url(../images/arrow-slideshow-left-active.png) no-repeat 0px 0px;
}
.view-mode-full .field-slideshow-controls .next				{
	float: right;
	background: url(../images/arrow-slideshow-right.png) no-repeat 0px 0px;
	right:auto;
}
.ie7 .view-mode-full .field-slideshow-controls .next		{
	margin-top:-60px;
}

.view-mode-full .field-slideshow-controls .next:hover		{
	background: url(../images/arrow-slideshow-right-active.png) no-repeat 0px 0px;
}

#maincontent ul.field-slideshow-pager						{
	min-height: 50px;
	zoom: 1;
}


/* 		Carrousel contenant la liste des thumbnails 		*/
#maincontent ul.field-slideshow-pager:before,
#maincontent ul.field-slideshow-pager:after { /* Clearfix pour remettre à la ligne la liste des thumbnails */
  display: table;
  content: " ";
  line-height: 0;
  clear: both;
}

.field-slideshow-carousel-wrapper							{
	/*background: #F4F4F3 url(../images/bg-separator-bottom.png) center top no-repeat;*/
	padding: 0 0 20px 0;
	width: 400px;
	margin: auto;
}
.field-slideshow-carousel									{

}
.view-mode-teaser .field-slideshow-carousel-wrapper > a,
.block-list .field-slideshow-carousel-wrapper > a,
.view-mode-block_element .field-slideshow-carousel-wrapper > a,
.view-mode-block_column .field-slideshow-carousel-wrapper > a,
.view-mode-block_list .field-slideshow-carousel-wrapper > a{
	text-indent:-2000em;
	display:inline-block;
	width: 20px;
	height: 20px;
	top: 85%;
	position:absolute;
	z-index: 9000;
}

.view-mode-full .field-slideshow-carousel-wrapper > a		{
	text-indent:-2000em;
	display:inline-block;
	width: 20px;
	height: 20px;
	z-index: 9000;
}
.field-slideshow-carousel-wrapper .carousel-prev			{
	background: url(../images/arrow-carrousel-left.png) no-repeat 3px 0px;
	margin-left: -30px;
	float: left;
	margin-top: 30px;
}
.field-slideshow-carousel-wrapper .carousel-prev:hover		{
	background: url(../images/arrow-carrousel-left-active.png) no-repeat 3px 0px;
}
.field-slideshow-carousel-wrapper .carousel-next			{
	float: right;
	background: url(../images/arrow-carrousel-right.png) no-repeat 3px 0px;
	margin-right: -30px;
	margin-top: -40px;
}

.field-slideshow-carousel-wrapper .carousel-next:hover		{
	background: url(../images/arrow-carrousel-right-active.png) no-repeat 3px 0px;
}

/*		COLORBOX		*/
#colorbox #cboxLoadedContent 								{
    margin-top: 28px;
}
#colorbox #cboxClose										{
	top:0;
}
#colorbox #cboxCurrent,
#colorbox #cboxNext,	
#colorbox #cboxPrevious										{
	left: auto;
}
	
#colorbox #cboxCurrent										{
	right: 60px;
}
#colorbox #cboxNext											{
	right: 0px;
}
#colorbox #cboxPrevious										{
	right: 25px;
}

/*		SLIDESHOW  		*/

.node-ofed-slideshow										{
	border: 1px solid #E1DED7;
	background: #F4F4F3;
	padding: 10px;
}


/*
		END DISPLAY MODE
*/

/*		GLOSSARY			*/
.page-lexicon h1											{
	color:#32312e;
}

.lexicon-admin-links:after,
.lexicon-admin-links:before									{
	display: table;
	content: " ";
	line-height: 0;
	clear: both;
}
.lexicon-admin-links ul										{

}
.lexicon-admin-links ul li									{
	padding:0!important;
	background:none!important;
}
.lexicon-admin-links ul li a						{
  display: block ;
  float:left;
  margin: 10px ;
}
.lexicon-admin-links ul li a:first-child					{
	margin-left:0;
}

#lexicon .lexicon-links										{
	padding: 13px 10px 10px 10px;
	margin: 10px 0;
	background-color: #B0AEA4;
	font-weight: 300;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #f0f0f0;
	font-size: 1.15em;
}
#lexicon .lexicon-links										{
	
}
#lexicon .lexicon-links	a									{
	text-decoration: none;
	text-transform:uppercase;
	padding: 0 5px;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
	color: #fff;
	font-size: 1.5em;
}

#lexicon .lexicon-links	a.active							{
	color: #ff7300;
}
#lexicon .lexicon-list .lettrine							{
	opacity: 1;	
	line-height: 1.5em;
	padding: 0 15px;
	display: inline-block;
	background-color: #0098B2;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
	font-size: 2.5em;
}
#lexicon .lexicon-alphabar-instructions						{
    font-size: 0.85em;
}

#lexicon .lexicon-list										{
	
}
#lexicon .lexicon-list	dl									{
	
}
#lexicon .lexicon-list	dt									{
	border: 1px solid #E1DED7;
	border-bottom: none;
	background: #F4F4F3;
	padding: 10px 10px 0 10px;
	font-weight: 600;
}
#lexicon .lexicon-list	dd									{
	border: 1px solid #E1DED7;
	border-top:none;
	background: #F4F4F3;
	padding: 10px 10px 0 10px;
	margin-bottom: 10px;
}
.lexicon-block-term											{
	padding:12px;
}
.lexicon-block-term-name									{
	font-weight: 600;
}
.lexicon-block-term-description a							{
	color: #32312e; 
	text-decoration: none;
	position: relative;
	font-size: 0.85em;
}

.lexicon-block-term-description a:hover						{
	text-decoration: underline;
}
.lexicon-block-term-description a:after						{
	content: "...";
	color: #fff;
	background: #ff7300;
	margin-left: 5px;
	text-decoration: none;
	position: absolute;
	height: 9px;
	line-height: 1px;
	top: 4px;
	padding: 0 1px;
	font-weight: 300;
	right: -15px;
}
.lexicon-extralinks a {
    background-color: transparent;
    font-size: 0.85em;
}

/*
		FAQ		
*/

.view-ofed-faq .item-list									{
	margin-top:20px;
} 
#maincontent .view-id-ofed_faq .view-display-id-ofed_faq_page_list_summary .item-list ul li				{
	padding: 10px 0 0 25px;
	background: url(../images/bullet-firstlevel.png) no-repeat 0 12px;
}

/*
		RECENT CONTENT
*/
#block-node-recent table td									{
	border-bottom: 1px solid #E1DED7;
}

#block-node-recent table td.edit							{
	padding:8px;
}