@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,600,700,300);

/* Bug ie7 overwriting property from system menu.css */
ul li.leaf                                                  { list-style-image: none;}
/* Override z-index of admin-menu */
#admin-menu, #admin-menu ul                                 { z-index: 1000; margin: 0px; }

#skip-link, .element-invisible								{ display:none;}

/* general
-------------------------------------------------- */

html														{ height:100%; overflow-y:scroll;}
body														{ width:100%; height:100%; margin:0; padding:0; line-height:18px; font: normal .8125em/1.538em 'Open Sans', sans-serif !important; color:#555;}

a,
a:visited,
a:link														{ color:#ff7300;}
body a:hover												{ color:#666666; text-decoration:none;}
a span														{ cursor:pointer;}

h1															{ font-size:3em; font-weight: 300;margin: 0 0 20px 0;color: #ff7300; }

/* common */

.tabs														{ clear:both; width:100%; margin:0; padding:0 0 20px; overflow:hidden;}

.tabs ul.primary											{ height:29px; margin:0; padding:0; border-bottom:1px solid #ddd; overflow:hidden;}
.tabs ul.primary li											{ float:left; margin:0; padding:0 0 0 10px;}
.tabs ul.primary li a										{ display:block; height:28px; line-height:28px; margin:0; padding:0 10px; border:0; color:#999; background:#eee; border:1px solid #ddd; -moz-border-radius:4px 4px 0 0;}
.tabs ul.primary li.active a,
.tabs ul.primary li a:hover									{ color:#000; background:#fff;}

.tabs ul.secondary											{ margin:0; padding:0; border-bottom:1px solid #ddd; overflow:hidden;}
.tabs ul.secondary li										{ float:left; margin:0; padding:0 0 0 20px; border:none;}
.tabs ul.secondary li a										{ display:block; height:28px; line-height:28px; margin:0; padding:0; border:0; color:#ccc;}
.tabs ul.secondary li.active a,
.tabs ul.secondary li a:hover								{ color:#000;}

/* form */

input.form-text												{ display:block; height:26px; height:21px\9; line-height:26px; margin:0; padding:0 4px; padding:5px 4px 0\9; color:#555; font:12px Arial, Helvetica, sans-serif; background:#fff; border:1px solid #c4bea8; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
input.form-submit											{ display:block; height:28px; line-height:28px !important; margin:0; padding:0 10px; border:none; outline:none; font-weight:bold !important; font:12px Arial, Helvetica, sans-serif; cursor:pointer; color:#555; background:#e3e1d5; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3e1d5', endColorstr='#c4bea8'); /* for IE */ background: -webkit-gradient(linear, left top, left bottom, from(#e3e1d5), to(#c4bea8)); /* for webkit browsers */ background: -moz-linear-gradient(top, #e3e1d5, #c4bea8); /* for firefox 3.6+ */ border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
input.btn-cms-reset											{ display:block; height:28px; line-height:28px !important; margin:0; padding:0 10px; border:none; outline:none; font-weight:bold !important; font:12px Arial, Helvetica, sans-serif; cursor:pointer; color:#fff; background:#353535; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#222222');  for IE  background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#222));  for webkit browsers  background: -moz-linear-gradient(top, #666, #222);  for firefox 3.6+  border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
input.error													{ border:1px solid #bb0000 !important; background:#e3e1d5;}
div.form-buttons                                            { height:30px; }
.form-actions												{ overflow:hidden;}
.container-inline div, 
.container-inline label 									{ float:left; margin-top:0; margin-right:10px; display:inline-block;}
input#edit-submit,
input#edit-save,
input#edit-next												{ float:left; margin:0 10px 0 0;}
input#edit-preview											{ float:left; margin:0 10px 0 0; color:#555; background:#dddddd; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc');  for IE  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));  for webkit browsers  background: -moz-linear-gradient(top, #eee, #ccc);  for firefox 3.6+ }
input#edit-delete											{ float:left; margin:0 10px 0 0; color:#fff; background:#bb0000; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bb0000', endColorstr='#7f0000');  for IE  background: -webkit-gradient(linear, left top, left bottom, from(#bb0000), to(#7f0000));  for webkit browsers  background: -moz-linear-gradient(top, #bb0000, #7f0000);  for firefox 3.6+ }
input#edit-cancel											{ float:left; margin:0 10px 0 0; color:#fff; background:#353535; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#222222');  for IE  background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#222));  for webkit browsers  background: -moz-linear-gradient(top, #666, #222);  for firefox 3.6+ }

form.confirmation input#edit-submit							{ margin:20px 0; float:none;}

/*		MESSAGES par défaut de Drupal		*/

div.messages {
  background-position: 8px 8px; /* LTR */
  background-repeat: no-repeat;
  border: 1px solid;
  margin: 6px 0;
  padding: 10px 10px 10px 50px; /* LTR */
}

div.status {
  background-image: url(../icones/message-24-ok.png);
  border-color: #be7;
}
div.status,
.ok {
  color: #234600;
}
div.status,
table tr.ok {
  background-color: #f8fff0;
}

div.warning {
  background-image: url(../icones/message-24-warning.png);
  border-color: #ed5;
}
div.warning,
.warning {
  color: #840;
}
div.warning,
table tr.warning {
  background-color: #fffce5;
}

div.error {
  background-image: url(../icones/message-24-error.png);
  border-color: #ed541d;
}
div.error,
.error {
  color: #8c2e0b;
}
div.error,
table tr.error {
  background-color: #fef5f1;
}
div.error p.error {
  color: #333;
}

div.messages ul {
  margin: 0 0 0 1em; /* LTR */
  padding: 0;
}
div.messages ul li {
  list-style-image: none;
}

/* admin menu */

.admin-menu-icon img										{ float:none; margin:0; padding:0;}

/* header
-------------------------------------------------- */

header														{ width:100%; padding:0; border-bottom:1px solid #9b9b9b; background: #fff;}

/* logo */

.logo														{ position: absolute; top: 35px; }


/* breadcrumb */
.easy-breadcrumb											{ width:940px; height:23px; padding:20px 0; margin:0 auto;}
.easy-breadcrumb .separator									{ color:#FF7300; margin-right:10px;}
.easy-breadcrumb .easy-breadcrumb_segment-wrapper			{ text-transform:uppercase;}
.easy-breadcrumb .easy-breadcrumb_segment-wrapper a,
.easy-breadcrumb_segment									{ margin:0 10px 0 0; text-transform:uppercase; text-decoration:none;}
.separator-black											{ color:#32312E; margin-right:10px;} 
.easy-breadcrumb .easy-breadcrumb_segment-separator 		{ margin:0 10px 0 0; color:#FF7300;}

#tools														{ position:relative; margin-top: 10px; min-height:130px;}

.ofed-switcher 												{ background: #FF8D1B; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25);box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25);}

/* navigation
-------------------------------------------------- */

section#navigation											{ position:relative; background:#B0AEA4 url('../images/gradient-menu.png') repeat-x 0 0; border-top : 1px solid rgba(255, 255, 255, 0.5);}
section#navigation .container								{ position:relative;}
section#navigation ul										{}
section#navigation ul li									{ float:left; padding: 5px 10px 5px 0; position: relative; /*margin: -1px 0 0 0;*/ margin:0; display: block; border: 1px solid transparent;}
section#navigation ul li									{ padding: 5px 5px 5px 0\9;}
section#navigation ul li:hover,
section#navigation ul li.active-trail						{ background: #fff;}
section#navigation ul li:hover a,
section#navigation ul li.active-trail a						{ color:#FF7300; text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);}
section#navigation ul li a									{ font-size: 1.1em; color: #ffffff; text-transform: uppercase; font-weight: 600; text-shadow: 1px 1px 0px rgba(75, 74, 69, 0.75); line-height: 33px; display: block; padding-left: 15px; text-decoration: none;}
section#navigation nav.cms-menu	ul.menu:first-child			{ padding:0; margin:0;}
section#navigation ul li.expanded:after 		{
	width: 0;
	height: 0;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 6px solid white;
	position: absolute;
	content: " ";
	top: 20px;
	right: 12px;
	box-shadow: 0 -1px 0 rgba(212, 66, 6, 0.75);
}
section#navigation ul li.expanded:hover:after 	{
	width: 0;
	height: 0;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 6px solid white;
	position: absolute;
	content: " ";
	top: 20px;
	right: 12px;
	box-shadow: 0 -1px 0 rgba(212, 66, 6, 0.75);
	
}




section#navigation nav.cms-menu .quick-info									{ cursor:pointer; margin:0; padding:0; position:absolute; top:0; right:0; background: #FF8D1B;}
section#navigation nav.cms-menu .quick-info li								{ padding:5px 30px 5px 0;}
section#navigation nav.cms-menu .quick-info li span.menu-item-container		{ font-size: 1.1em; color: #fff; text-transform: uppercase; font-weight: 600; text-shadow: 1px 1px 0px rgba(75, 74, 69, 0.75); line-height: 33px; display: block; padding-left: 15px; text-decoration: none;}
section#navigation nav.cms-menu .quick-info li:hover						{ background: #FF8D1B;}
section#navigation nav.cms-menu .quick-info li:hover span					{ color:#fff;}
section#navigation nav.cms-menu .quick-info li ul.menu						{ z-index:999; padding:0; background: #FF8D1B; position:absolute; top:44px; left:0; -webkit-border-radius: 0px 0px 5px 5px; border-radius: 0px 0px 5px 5px;  border-bottom : 1px solid rgba(255, 255, 255, 0.5);}
section#navigation nav.cms-menu .quick-info li ul.menu li					{} 
section#navigation nav.cms-menu .quick-info li ul.menu li a					{ line-height:normal; color:#fff; text-shadow: 1px 1px 0px rgba(75, 74, 69, 0.75);}
                                                          
section.navigation .container								{ z-index:999; position:relative;}

/* menu */

section.navigation nav.cms-menu                             { float:left; width:850px; height:auto; margin-right:5px;}
section.navigation ul										{ margin:0; padding:0;}
section.navigation ul li									{ position:relative; float:left; margin:0; padding:0 5px 0 0; list-style:none; list-style-image:none;}
section.navigation ul li a,
section.navigation ul li .menu-item-container,
section.navigation ul li.nolink                             { display:inline-block; padding:0 10px; line-height:30px; text-decoration:none; color:#555; background:#ddd; border-radius:6px 6px 0 0; -moz-border-radius:6px 6px 0 0; -webkit-border-top-left-radius:6px; -webkit-border-top-right-radius:6px;}
section.navigation ul li.nolink                             { margin-right: 5px; }

section.navigation ul li a:hover,
section.navigation ul li.active-trail a						{ color:#004C94; background:#fff;}

section.navigation ul li ul.menu							{ position:absolute; top:30px; left:0; display:none; width:200px; padding:15px 10px; background:white; overflow:hidden;
                                                              -webkit-box-shadow:0 1px 1px #ddd;
                                                              -moz-box-shadow:0 1px 1px #999;
                                                              box-shadow:0 1px 2px #999;
                                                              border:1px solid #ddd\9;
                                                              border-top:none\9;
                                                            }
section.navigation ul li ul li								{ float:left; display:block; width:300px; margin:0; padding:0 5px;}
section.navigation ul li ul li.divider						{ float:none; clear:both; width:930px; height:30px; margin:0; padding:0; overflow:hidden; font-size:0;}
section.navigation ul li ul li.hidden a						{ color:#aaa !important;}
section.navigation ul li ul li a							{ display:inline-block; padding:3px 0; font-weight:bold; line-height:18px; color:#555 !important; background:none !important;}
section.navigation ul li ul li a:hover						{ color:#004C94 !important; background:none !important;}

section.navigation ul li ul li ul							{ display:block; position:static; margin:0 0 10px; padding:0;
                                                              -webkit-box-shadow:none;
                                                              -moz-box-shadow:none;
                                                              box-shadow:none;
                                                            }
section.navigation ul li ul li ul li						{ float:none; width:279px; height:auto; margin:0; padding:0;}
section.navigation ul li ul li ul li a						{ margin:0; padding:0; color:#555 !important; text-transform:none; font-size:12px; font-weight:normal;}

section.navigation ul li ul li ul li ul						{ margin:0;}
section.navigation ul li ul li ul li ul li                  { width:259px; margin:0; padding:0;}
section.navigation ul li ul li ul li ul li a				{ margin:0; padding:0;}


/* manage menu */

section.navigation #link-menu								{}

/* link analytics */

section.navigation ul.quick-info							{ position:absolute; right:0; top:0;  }
section.navigation ul.quick-info span,
section.navigation ul.quick-info li ul						{ background:#46B0E0; color:#fff; z-index:9999;}

section.navigation ul.quick-info li ul li					{}
section.navigation ul.quick-info li ul li a,
section.navigation ul.quick-info li ul li a:visited,
section.navigation ul.quick-info li ul li a:hover			{ color:#fff!important;}

section.navigation a.lk-analytics							{ padding:0 15px; line-height:30px; text-decoration:none; color:#004C94; background:#e3e1d5;  }
section.navigation a.lk-analytics:hover						{ color:#555; background:#fff;}

/* add button*/

a.lk-add													{
                                                              background:#00bc00;
                                                              filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00bc00', endColorstr='#019e01');
                                                              background:-webkit-gradient(linear, left top, left bottom, from(#00bc00), to(#019e01));
                                                              background:-moz-linear-gradient(top, #00bc00, #019e01);
															}
															
															
#content .view-header										{ margin:0; padding:0 0 20px; overflow:hidden;}
#content .view-header a										{ display:inline-block; padding:0 10px; line-height:28px; text-decoration:none; font-weight:bold !important; color:#fff; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
#content .view-header a:hover								{ text-decoration:underline;}
#content .view-header a										{ margin-right:10px !important;}

#content .view-header a										{
                                                              background: #004c94;
                                                              background: -moz-linear-gradient(top, #004c94 0%, #002d57 100%);
                                                              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#004c94), color-stop(100%,#002d57));
                                                              background: -webkit-linear-gradient(top, #004c94 0%,#002d57 100%);
                                                              background: -o-linear-gradient(top, #004c94 0%,#002d57 100%);
                                                              background: -ms-linear-gradient(top, #004c94 0%,#002d57 100%);
                                                              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004c94', endColorstr='#002d57',GradientType=0 );
                                                              background: linear-gradient(top, #004c94 0%,#002d57 100%);
															}

#content .view-header a.lk-cms-add							{
                                                              background:#00bc00;
                                                              filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00bc00', endColorstr='#019e01');
                                                              background:-webkit-gradient(linear, left top, left bottom, from(#00bc00), to(#019e01));
                                                              background:-moz-linear-gradient(top, #00bc00, #019e01);
															}
/* Button the button */

/* It's a long one because it's god damn looking good button */
input.form-submit, a.button 											{
  display: inline-block ;
  *display: inline ;
  /* IE7 inline-block hack */
  *zoom: 1 ;
  padding: 0 14px ;
  margin-bottom: 0 ;
  font-size: 14px ;
  text-align: center ;
  vertical-align: middle ;
  cursor: pointer ;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732 ;
  background-image: none;
  background-image: -moz-linear-gradient(top, #FBB450, #F89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406) ;
  background-image: -o-linear-gradient(top, #fbb450, #f89406) ;
  background-image: linear-gradient(to bottom, #fbb450, #f89406) ;
  background-repeat: repeat-x ;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0) ;
  border: 1px solid #bbbbbb ;
  *border: 0 ;
  border-bottom-color: #a2a2a2 ;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) ;
  *background-color: #f89406 ;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) ;
  
  -webkit-border-radius: 4px ;
  -moz-border-radius: 4px ;
  border-radius: 4px ;
  *margin-left: .3em ;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05) ;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05) ;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05) ;
}

input.form-submit:first-child , a.button:first-child 					{
  *margin-left: 0 ;
}
input.form-submit:hover , a.button:hover 								{
  color: #333333 ;
  text-decoration: none ;
  background-color: #e6e6e6 ;
  *background-color: #d9d9d9 ;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px ;
  -webkit-transition: background-position 0.1s linear ;
  -moz-transition: background-position 0.1s linear ;
  -o-transition: background-position 0.1s linear ;
  transition: background-position 0.1s linear ;
}
input.form-submit:focus , a.button:focus 								{
  outline: thin dotted #333 ;		
  outline: 5px auto -webkit-focus-ring-color ;
  outline-offset: -2px ;
}

input.form-submit:active, a.button:active 								{
  background-color: #e6e6e6 ;
  background-color: #d9d9d9 \9 ;
  background-image: none ;
  outline: 0 ;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05) ;
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05) ;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05) ;
}
input.form-submit[disabled], a.button[disabled] 						{
  cursor: default ;
  background-color: #e6e6e6 ;
  background-image: none ;
  opacity: 0.65 ;
  filter: alpha(opacity=65) ;
  -webkit-box-shadow: none ;
  -moz-box-shadow: none ;
  box-shadow: none ;
}
input.form-submit:hover, a.button:hover,
input.form-submit:active, a.button:active,
input.form-submit[disabled], a.button[disabled] 						{
  color: #ffffff ;	
  background-color: #f89406 ;
  *background-color: #df8505 ;
}
input.form-submit:active, a.button:active{
  background-color: #c67605 \9 ;
}

/* content
-------------------------------------------------- */

section.site													{ width:100%; padding: 0 0 15px 0; background:#fff;}
section.site .container											{ z-index:1 !important; position:relative; min-height:600px; background:#fff;}
.colorpicker  { z-index:2; }
/* title */

section.site h2													{ color:#555;}
section.site h3													{ color:#999;}

/* button add */

section.site .lk-add-container									{ margin:0; padding:0 0 20px; overflow:hidden;}
section.site .lk-add-container a								{ display:inline-block; padding:0 10px; line-height:28px; text-decoration:none; font-weight:bold !important; color:#fff; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
section.site .lk-add-container a:hover							{ text-decoration:underline;}
section.site .lk-add-container a								{ margin-right:10px !important;}

section.site .lk-add-container a								{
                                                                  background: #004c94;
                                                                  background: -moz-linear-gradient(top, #004c94 0%, #002d57 100%);
                                                                  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#004c94), color-stop(100%,#002d57));
                                                                  background: -webkit-linear-gradient(top, #004c94 0%,#002d57 100%);
                                                                  background: -o-linear-gradient(top, #004c94 0%,#002d57 100%);
                                                                  background: -ms-linear-gradient(top, #004c94 0%,#002d57 100%);
                                                                  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004c94', endColorstr='#002d57',GradientType=0 );
                                                                  background: linear-gradient(top, #004c94 0%,#002d57 100%);
                                                                }

section.site .lk-add-container a.lk-add                         {
                                                                  background:#00bc00;
                                                                  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00bc00', endColorstr='#019e01');
                                                                  background: -moz-linear-gradient(center top , #00BC00, #019E01);
                                                                  background:-webkit-gradient(linear, left top, left bottom, from(#00BC00), to(#019E01));

																}
																
/* Filters */
.exposed-filters														{ position:relative;}
.exposed-filters .filters												{ width:auto; margin-bottom:15px;}
.exposed-filters #edit-actions											{ height:28px; padding-top:37px;}
.page-admin-config-regional-translate #translation-table-filter-filter	{ padding-top:50px;}
.exposed-filters .filters .form-item 									{ float:left; width:202px; overflow:hidden; display:block;}
.exposed-filters #edit-actions											{ float:left;/*position:absolute; bottom:10px; right:0;*/}


/* result counter */

section.site .view-header										{ width:100%; margin:0; padding:0; overflow:hidden;}
section.site #view-result-counter								{ width:100%; margin:0; padding:0; background:#eee; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
section.site #view-result-counter p								{ padding:8px 10px; line-height:20px; text-align:center;}
section.site #view-result-counter p strong						{}

/* filter */

section.site .view-filters																		{ width:100%; margin:0 0 20px; padding:10px 0; overflow:hidden; background:#F5F3E8; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
section.site .view-filters .views-exposed-widget												{ float:left; width:215px; padding:0 10px 10px; margin:0; overflow:hidden;}

section.site .view-filters .views-exposed-widget input.form-text								{ width:190px!important;}
section.site .view-filters .views-exposed-widget select											{ width:200px!important;}
section.site .view-filters .views-exposed-widget .cms-filter-btns								{ }
section.site .view-filters .views-exposed-widget label											{ display:block; margin:0; padding:0; line-height:28px;}
section.site .view-filters .views-exposed-widget .views-widget									{ margin:0; padding:0;}
section.site .view-filters .views-exposed-widget .views-widget .form-item						{ margin:0; padding:0;}
section.site .view-filters .views-exposed-widget .views-widget .form-item select				{ display:block; margin:0; padding:4px; color:#444; font:12px Arial, Helvetica, sans-serif; background:#fff; border:1px solid #ccc;}
section.site .view-filters .views-exposed-widget .views-widget .form-item select.select-single
																								{ height:28px;}
section.site .view-filters input.form-autocomplete												{ width:445px; background:#fff; background-position:436px 6px;}

section.site .view-filters .cms-filter-btns											{ clear:both; display:block; padding:0 10px; overflow:hidden;}
section.site .view-filters .cms-filter-btns input									{ float:left; margin:0 10px 0 0;}

.filter-wrapper .form-item,
.filter-guidelines		 															{ padding:0!important;}

/* table */
section.site table 																	{ width: 100%;}

section.site table,
section.site tbody,
section.site tfoot,
section.site thead,
section.site tr,
section.site th,
section.site td 												{ margin:0; padding:0; border:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline;}
section.site table 												{ margin:0 0 20px; border-collapse:collapse; border-spacing:0;}
section.site table.sticky-header								{ width:940px!important;}
.fieldset-wrapper table											{ margin:0!important;}
section.site caption,
section.site th,
section.site td 												{ text-align:left; font-weight:normal;}
section.site table,
section.site td,
section.site th 												{ padding:8px!important; vertical-align:top; /*border:1px solid #fff;*/}
section.site th													{ font-weight:normal; color:#fff; background:#32312e;}
section.site th	label											{ margin-bottom:0!important; border:none!important; }

section.site th a												{ display:inline-block; color:#fff;}
section.site tr.odd td											{ background:#CFF1FF;}
section.site tr.even td											{ background:#EFFAFF;}

section.site tr.error											{ border-bottom:5px solid #fff;}
section.site tr.error td										{ background:#ffd3bd;}
section.site tr.warning											{ border-bottom:5px solid #fff;}
section.site tr.warning td										{ background:#fff0bd;}

tr.odd td														{ background:#f4f4f3!important;}
tr.even	td 														{ background:#e0e0e0!important;}

section.site .tabledrag-has-colspan								{ margin:0!important;}

#field-ofed-page-docs-values									{ border:1px solid #32312e!important; border-radius:5px 5px 5px 5px;}

/* Exeption Land */

.page-admin-config-content-hierarchical-select .tableheader-processed caption			{ margin-bottom:10px;}

.page-admin-config-user-interface-sweaver table tr td .form-item .container-label-edit	{ display:block; height:26px!important; width:100%; font-weight:normal!important; font-family:'Open Sans', sans-serif; padding-bottom:5px; margin-left:0!important; font-size:16px!important;  margin-bottom:20px!important; border-bottom:1px solid #E5E5E5!important; border-top:none!important; border-left:none!important; border-right:none!important; }

.page-admin-config-content-mollom form #edit-actions input								{ margin-right:15px;}

.page-admin-structure-stylizer #ctools-export-ui-list-form .form-item-search label	{ border:none!important; line-height:normal!important;}
.page-admin-structure-stylizer .ctools-export-ui-bottom-row							{ margin-top:15px;}

.page-admin-structure-stylizer #ctools-export-ui-list-form .form-submit				{ margin:37px 10px 0 0;}


.page-admin-structure-mini-panels #ctools-export-ui-list-form .ctools-export-ui-row:first-child											{ margin-bottom:15px;}
.page-admin-structure-mini-panels #ctools-export-ui-list-form #ctools-export-ui-list-items-apply										{ margin-top:36px; margin-right:15px;}

.page-admin-structure-views #ctools-export-ui-list-form #ctools-export-ui-list-items-apply												{ margin-top:42px!important;}

.page-admin-config-user-interface-sweaver #sweaver-plugin-editor-config-editor table#properties tr td.tabledrag-has-colspan:first-child	{ padding:0!important;}

.page-admin-structure-types #block-system-main .vertical-tabs #edit-additional-settings-add-custom-fields .fieldset-wrapper input		{ margin-right:10px;}
.page-admin-structure-types #node-type-form .vertical-tabs .vertical-tabs-panes #edit-scheduler fieldset								{ padding:0!important; margin:0; border:none;}

.page-admin-structure #panels-common-settings .vertical-tabs-panes #edit-layout-selection #edit-layouts .form-item label .caption		{ line-height:normal;}

.page-admin-config-content-linkchecker #edit-linkchecker-analyze																		{ margin-right:10px;}
.page-admin-config-content-linkchecker #edit-clear																						{ margin-bottom:20px;}

.page-admin-structure-block-list-cms-theme #block-system-main #menu-block-add-block-form .vertical-tabs #edit-languages .fieldset-wrapper .form-item:first-child label	{ border:none;}

.page-admin-structure-types-manage #field-display-overview-wrapper #-add-new-group td:first-child .label-input .form-item				{ padding-top:18px;}

.page-admin-structure-panels #ctools-export-ui-list-form .ctools-export-ui-row #ctools-export-ui-list-items-apply						{ margin:42px 10px 0 0;} 

.page-admin-config-system #backup-migrate-crud-edit-form .container-inline a,
.page-admin-config-search #metatag-config-add-form #edit-actions a,
.page-admin-config-search #redirect-edit-form #edit-actions a,
.page-admin-config-search-verifications #site-verify-edit-form #edit-actions a					{ display: inline-block ;
																								  text-decoration:none;
																								  font-weight:bold;
																								  *display: inline ;
																								  /* IE7 inline-block hack */
																								  *zoom: 1 ;
																								  height:26px;
																								  *height:28px;
																								  line-height:26px;
																								  padding: 0 14px ;
																								  margin-bottom: 0 ;
																								  font-size: 14px ;
																								  text-align: center ;
																								  vertical-align: middle ;
																								  cursor: pointer ;
																								  color: #ffffff;
																								  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
																								  background-color: #faa732 ;
																								  background-image: none;
																								  background-image: -moz-linear-gradient(top, #FBB450, #F89406);
																								  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
																								  background-image: -webkit-linear-gradient(top, #fbb450, #f89406) ;
																								  background-image: -o-linear-gradient(top, #fbb450, #f89406) ;
																								  background-image: linear-gradient(to bottom, #fbb450, #f89406) ;
																								  background-repeat: repeat-x ;
																								  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0) ;
																								  border: 1px solid #bbbbbb ;
																								  *border: 0 ;
																								  border-bottom-color: #a2a2a2 ;
																								  border-color: #f89406 #f89406 #ad6704;
																								  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) ;
																								  *background-color: #f89406 ;
																								  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
																								  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) ;
																								  -webkit-border-radius: 4px ;
																								  -moz-border-radius: 4px ;
																								  border-radius: 4px ;
																								  *margin-left: .3em ;
																								  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05) ;
																								  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05) ;
																								  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05) ;
																								}

/* login page
-------------------------------------------------- */

section.site .block-user										{ margin:0; padding:20px 0 0; overflow:hidden;}
section.site .block-user form									{ text-align:left;}
section.site .block-user .form-item								{ margin:0; padding:0 0 20px;}
section.site .block-user .form-item label						{ display:block; line-height:24px;}
section.site .block-user .form-item label span					{ display:inline-block; margin:0; padding:0; height:18px; line-height:18px; font-size:24px; color:#bc0000;}
section.site .block-user .form-item input.form-text				{ width:300px;}

section.site .block-user input.form-submit						{ float:none; margin:4px 0 0;}

section.site .block-user .item-list	ul							{ margin:0; padding:20px 0 0;}
section.site .block-user .item-list	ul li						{ margin:0; padding:0; list-style:none;}
section.site .block-user .item-list	ul li a						{}


/* pagination
-------------------------------------------------------- */

.news.items .item-list														{ width:200px; margin:0 auto;}

section.site ul.pager														{ margin:10px 0; padding:10px 0; text-align:center; overflow:hidden; background:none;}
section.site ul.pager li													{ float:left; display:block; height:24px; line-height:24px; margin:0 5px 0 0; padding:0; list-style:none; list-style-image:none; background:#f5f5f5; cursor:pointer;}
section.site ul.pager li a													{ display:block; line-height:24px; padding:0 7px; color:#666; text-decoration:none;}
section.site ul.pager li.first												{}
section.site ul.pager li.last												{}
section.site ul.pager li.pager-item											{}
section.site ul.pager li.pager-current										{ padding:0 7px; background:#004D95; color:#fff; font-weight:normal; cursor:default;}
section.site ul.pager li.drpager											{ padding:0 7px; color:#333; font-weight:normal; cursor:default;}
section.site ul.pager li.drpager input										{ margin:0;}
section.site ul.pager li.pager-ellipsis										{ background:none; cursor:default;}
section.site ul.pager li.pager-first										{ width:24px; height:24px; padding:0; overflow:hidden; text-indent:-200em; background:url(../images/pager.gif) no-repeat 0 -24px;}
section.site ul.pager li.pager-previous										{ width:24px; height:24px; padding:0; overflow:hidden; text-indent:-200em; background:url(../images/pager.gif) no-repeat 0 0;}
section.site ul.pager li.pager-next											{ width:24px; height:24px; padding:0; overflow:hidden; text-indent:-200em; background:url(../images/pager.gif) no-repeat 0 -48px;}
section.site ul.pager li.pager-last											{ width:24px; height:24px; padding:0; overflow:hidden; text-indent:-200em; background:url(../images/pager.gif) no-repeat 0 -72px;}



a.views-button-configure,
a.views-button-add,
a.views-button-rearrange,
a.views-button-remove 										{ background:transparent url(../images/sprites.png) !important; 
                                                              display: inline-block !important; 
                                                              float: right !important; 
                                                              height: 12px !important; 
                                                              width: 16px !important; 
                                                              margin: 2px 0px 1px 0px !important; 
                                                              border-bottom: #C2C9CE 1px solid !important; 
                                                              border-right: #C2C9CE 1px solid !important; 
                                                              padding: 0px !important;
                                                              text-indent:-4000px;
                                                            }
a.views-button-remove										{ background-position: 0px -72px !important; position: relative !important; top: -4px !important;}
a.views-button-remove:hover									{ background-position: 0px -84px !important;}
a.views-button-configure 									{ background-position: 0px -48px !important; margin: 0 !important;}
a.views-button-configure:hover 								{ background-position: 0px -60px !important;}
a.views-button-add 											{ background-position: 0px -24px !important;}
a.views-button-add:hover 									{ background-position: 0px -36px !important;}
a.views-button-rearrange 									{ background-position: 0px 0px !important;}
a.views-button-rearrange:hover 								{ background-position: 0px -12px !important;}

/* theme settings
-------------------------------------------------- */
fieldset#edit-nerra-layout																				{}
fieldset#edit-nerra-layout .fieldset-wrapper															{}
fieldset#edit-nerra-layout .fieldset-wrapper #edit-nerra-layout-display									{ clear:both; overflow:hidden;}

.layout-grid-display								{ margin-bottom:15px; overflow:hidden!important;}
*:first-child+html .layout-grid-display				{ margin-bottom:45px;}
.layout-grid-display .form-item						{ margin-bottom:20px; background:none; float:left; width:167px; height:147px;}
.layout-grid-display .form-item	input				{ margin:0 5px 0 15px;}
.layout-grid-display .form-item label				{ position:relative; height:165px; overflow:hidden; clear:both; text-align:center; border:none;}
.layout-grid-display .form-item label img			{ margin:0 0 0 15px;}

/* Dashboard
-------------------------------------------------- */
.dashboard .dashbox h2										{ padding:0 20px;}

/* Form Wrapper
-------------------------------------------------- */
.field-type-datetime,

#edit-field-ofed-page-update-force,
#edit-field-ofed-page-thumb,
#edit-field-ofed-download-update-force,
#edit-field-ofed-download-thumb,
#edit-field-ofed-download-file,
#edit-field-ofed-faq-update-force,
#edit-field-ofed-new-update-force,
#edit-field-ofed-photog-update-force,
#edit-field-ofed-press-update-force,
#edit-field-ofed-slide-update-force,
#edit-field-ofed-new-thumb,
#edit-field-ofed-press-thumb,
#edit-field-ofed-slide-images,
#edit-field-ofed-photog-images							{ padding:10px; margin-bottom:10px; background: none repeat scroll 0 0 #F5F3E8; border-radius: 4px 4px 4px 4px;}
#edit-field-ofed-page-update-force,
#edit-field-ofed-download-update-force,
#edit-field-ofed-faq-update-force,
#edit-field-ofed-new-update-force,
#edit-field-ofed-photog-update-force,
#edit-field-ofed-press-update-force,
#edit-field-ofed-slide-update-force						{ margin-top:-10px;}
#edit-field-ofed-page-pubdate,
#edit-field-ofed-download-pubdate,
#edit-field-ofed-download-thumb,
#edit-field-ofed-download-file,
#edit-field-ofed-press-pubdate,
#edit-field-ofed-press-update,
#edit-field-ofed-new-pubdate,
#edit-field-ofed-press-update							{ width:450px; float:left; min-height:195px;}


#edit-field-ofed-page-pubdate .form-item,
#edit-field-ofed-download-pubdate .form-item,
#edit-field-ofed-download-thumb .form-item,
#edit-field-ofed-download-file .form-item,
#edit-field-ofed-press-pubdate .form-item,
#edit-field-ofed-press-update .form-item,
#edit-field-ofed-new-pubdate .form-item,
#edit-field-ofed-press-update .form-item				{ margin-bottom:0; margin-top:0;}	


#edit-field-ofed-download-author						{ clear:both;}


#field-ofed-page-docs-values

input.form-autocomplete 								{ background-image: url("../images/throbber.gif"); background-position: 100% 7px; background-repeat: no-repeat;}

input.throbbing 										{ background-position: 100% -13px!important;}

legend,
.form-item label										{ font-size:16px!important; margin-bottom:15px; line-height:40px; border-bottom:1px solid #E5E5E5;}
.form-item label.option									{ font-size:12px!important;}
.form-item .form-item label								{ border:none; margin-bottom:0;}
legend													{ margin-bottom:10px;}
.container-inline-date .date-padding					{ padding:0;}
.form-item-field-ofed-download-update-force-und			{ clear:both;}

/*.form-type-textfield label,*/
.form-type-select label											{ border:none; line-height:normal; }
.field-type-image .form-wrapper .fieldset-wrapper .form-item		{ padding-right:10px; padding-left:10px;}
.field-type-image .form-wrapper .fieldset-wrapper .form-item label	{ border:none; margin:0; font-size:12px!important;}
.form-wrapper .form-item			{ margin-top:0;}
#page-manager-list-pages-form										{}
#page-manager-list-pages-form #edit-pages-apply						{ float:left; clear:left; margin-right:15px; margin-bottom:10px;}
#page-manager-list-pages-form #edit-pages-reset						{ float:left;}
#page-manager-list-pages-form .form-item-sort						{ padding-right:100px;}

#panels-live-preview												{ display:inline-block; margin-bottom:15px;}

.action-links														{ margin-bottom:15px; overflow:hidden; width:100%;}
.action-links li													{ float:left; margin-right:10px;}

#page-manager-links													{ position:absolute; top:110px; left:200px;}
#page-manager-links .links											{}	
#page-manager-links .links li										{}
#page-manager-links .links li a										{}

.panel-flexible-edit-layout .flexible-title 						{ width:100%!important; text-align:left!important;}

.admin-list	dd														{ margin-bottom:10px;}

table.field-ui-overview tr.add-new .label-input 					{ float:none!important;}

/* CK Editor tweaks */
.cke_browser_gecko table											{ margin:0!important;}

/* footer
-------------------------------------------------- */

footer														{ width:100%; background:#eee;}
footer p													{ line-height:40px; margin:0; padding:0; font-size:10px;}



#rules-filter-form 											{ margin-bottom: 1.5em!important; clear:both; display:block!important; }

#rules-filter-form legend									{ display:block; overflow:hidden;}

html.js fieldset.collapsed 									{ height:auto!important;}